@use "uswds-core" as *;

.agencyInfoCol1{
    display: flex;
    flex-direction: column;
    align-items: left;
    
};

.agencyInfoCol2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p span {
        display: block;
    }
};

.agencyInfoLogo {
    @include u-margin-left(5);
    @include u-margin-right(5);
    @include u-margin-top(2);
}

.bullet1 {
    @include u-margin-left(4);
    
    li {
        @include u-margin-bottom(2)
    }
}

h1, h2, h3, h4, h5 {
    margin-bottom: unset;
}