@use "uswds-core" as *;

.logoRow {
    max-width: 71rem; 
    height: 4.5rem;
    @include u-margin-left(auto);
    @include u-margin-right(auto);
    @include u-padding-top(1);
    @include u-padding-bottom(1);

    .logo {
      height: 100%;
      max-width: 100%;
      display: block;
    }
    
    // less than 1024 px
    @include at-media-max("desktop-lg") {
      padding-left: 1rem;
    }
}

.navRow{
    max-width: 23rem; 
    height: 4rem;
    @include u-margin-left(auto);
    @include u-margin-right(auto);
    @include u-padding-top(1);
    @include u-padding-bottom(1);

    @media screen and (min-width: 1024px) and (max-width: 1200px){
      max-width: 27rem;
    }
    
    @include at-media-max("desktop") {
      max-width: 5rem;
      margin-right: 0;
      }
    
}
